*{
    padding: 0;
    margin: 0;
    border:0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    height: 1000px;
    margin: 5px;
    display:flex;
}
#cabecalho{
    background-color: rgb(255, 157, 0);
    border-bottom:5px solid rgb(202, 128, 8);
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
/*MENU DE PRODUTOS*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 157, 0);
}
li a, .dropbtn{
    display: inline-block;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color: rgb(202, 128, 8);
}
li .dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(202, 128, 8);
    min-width: 150px;
    box-shadow:  0px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color:rgb(255, 157, 0);
}
.dropdown:hover .dropdown-content{
    display:block;
}

/*tamanho icones*/
.tam{
    width:40px;
    height:35px ;
}
/*tamanho pincel*/
.pincel{
    width: 80px;
    height: 80px;
}
.tamm{
    width:380px;
    height: 320px;
}
.caixa{
    background-color: rgb(165, 158, 158);
    width:380px ;
    height: 320px;
    display: flex;
    flex-direction: row;
}
.linha{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.linhaa{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.lado1{
    display: flex;
    flex-direction: column;
}
.lado{
    display: flex;
    flex-direction: column;
}