@import url('https://fonts.googleapis.com/css2?family= Milonga & display=swap') ;
*{
    padding: 0;
    margin: 0;
    border:0;
    box-sizing: border-box;
}
#container{
    width: 100%;
    height: 752px;
    margin: 0px;
    display:flex;
}

body{
    background-image: linear-gradient(to bottom, rgb(206, 60, 206), aqua);
    font-family: 'Milonga', cursive;
}
#barra{
    background-color: white;
    height: 100px;
    width:100%;
    display: flex;
    align-items: center;
}
/*barra de busca*/
#buscar{
    gap:100px;
    background-color: white;
    border-radius: 40px;
    border: none;
    height: 50px;
    width: 840px;
    margin-left: 100px;
}
.tam{
    width: 50px;
    height: 50px;
}
.position{
    margin-left: 100px;
}
.logo{
    width:100px ;
    height: 100px;
    margin-top: 92px;
    margin-left: -1440px;
}
#circulo {
    background-image:linear-gradient(aqua, rgb(157,35,157));
    border-radius: 50%;
    opacity: 30%;
    width: 220px;
    height: 180px;
    margin-top: 450px;
    margin-left: 800px;
}
#quadrado {
    background-image: linear-gradient(rgb(0, 255, 0),rgb(49, 141, 175));
    opacity:30%;
    width: 140px;
    height: 140px;
    position:absolute;
    margin-top:530px;
    margin-left:1140px;
}
#triangulo {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 200px solid red;
    opacity: 40%;
    position:absolute;
    margin-top:300px;
    margin-left :240px;
}
#circuloo {
    background-color:yellow;
    border-radius: 50%;
    opacity: 30%;
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 440px;
    margin-left:180px; 
}
#quadradinho{
    background-color: #37f2ff;
    width: 8px;
    height: 8px;
    rotate: 45deg;
    position:absolute;
    margin-top: 197px;
    left: 87px;
}
#quadradinho2{
    background-color: #37f2ff;
    width: 8px;
    height: 8px;
    rotate: 45deg;
    position:absolute;
    margin-top: 197px;
    left: 1387px;
}
#quadradinho3{
    background-color:#A640FE ;
    width: 8px;
    height: 8px;
    rotate: 45deg;
    margin-top: 725px;
    margin-left: -1130px;
}
#quadradinho4{
    background-color:#A640FE ;
    width: 8px;
    height: 8px;
    rotate: 45deg;
    position: relative;
    margin-top: 725px;
    margin-left: 600px;
    left:690px;
}
h1{
    font-family:'Milonga', cursive;
    margin-top:100px;
    margin-left: -400px;
}
.aa{
    color: white;
    margin-top: 150px;
    margin-left:-212px;
}
.login{
    color:black;
    font-size: 50px;
    margin-left: 68px;
}
.aaa{
    margin-top: 120px;
    margin-left: -940px;   
}
.uuu{
    margin-top: 300px;
    margin-left: -800px;
}
.bb{
    background-color: aqua;
    width: 220px;
    height: 30px;
    border-radius: 25px;
    margin:40px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: Milonga;
}
#posicao{
    width: 1300px;
    height: 100px;
    border-top: 2px solid #37F3FF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 200px;
    margin-left: -490px;
}
#baixo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin-top: 30px;
}
#rodape{
    width: 1300px;
    height: 50px;
    border-bottom: 2px solid #A640FE;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: -780px;
    margin-top: 680px;
}
.ee{
    margin-right: 40px;
    margin-left: 100px; 
}
/* Barra de pesquisa */
#quadro{
    background-color: rgba(255, 255, 255, 0.77);
    border-radius: 25px;
    position: absolute;
    width: 700px;
    height: 240px;
    top:400px;
    left:380px;
}
.text{
    font-size: 15px;
    margin-top: 70px;
    margin-left:300px;
}